body {
    font-family: Arial, sans-serif;
    background-color: #e0e5ec;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .container {
    background-color: #d9e0e7;
    box-shadow: 10px 10px 30px #bdc4cc, -10px -10px 30px #f4f7fc;
    border-radius: 20px;
    overflow: hidden;
    width: 80%;
    max-width: 600px;
  }
  
  .header {
    background-color: #bdc4cc;
    padding: 20px;
    border-bottom: 1px solid #a0a7af;
    text-align: center;
  }
  
  .content {
    padding: 20px;
  }
  
  .input-panel {
    background-color: #d9e0e7;
    box-shadow: inset 5px 5px 10px #bdc4cc, inset -5px -5px 10px #f4f7fc;
    border-radius: 12px;
    padding: 20px;
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 6px;
  }
  
  .fretboard {
    background-color: #d9e0e7;
    box-shadow: 5px 5px 10px #bdc4cc, -5px -5px 10px #f4f7fc;
    border-radius: 12px;
    padding: 20px;
  }
  .fretboard .string {
    display: flex;
    margin: 5px 0;
}

.fretboard .fret {
    width: 30px;
    height: 20px;
    border: 1px solid #222222;
}

.fretboard .highlighted {
    background-color: #ffeb3b;
}
.fretboard .root-note {
  background-color: #6bfa77; /* This will make the root note red. Adjust the color as needed. */
}
.fretboard .root {
  background-color: #ff4d4d;
}

.fretboard .minor-third {
  background-color: #add8e6;  /* Light blue */
}

.fretboard .major-third {
  background-color: #5151cf;  /* Dark blue */
}

.fretboard .perfect-fifth {
  background-color: #32cd32;  /* Green */
}

.fretboard .minor-seventh {
  background-color: #90ee90;  /* Light green */
}

.fretboard .major-seventh {
  background-color: #006400;  /* Dark green */
}
